.login-title{
    font-size: 36px;
    color: #888888;
}

.login-form{
    text-align: center;
    width: 50%;
    color: #ff3574;
}

body {
    background: #e8fcff;
    /*height: 100%; width: 100%;*/
    /*background: url("http://localhost/redHeart/static/image/welcome_all.png");*/
    /*background:url(../../app/bg/login_001.gif);*/
    /*background-repeat:no-repeat;*/
    background-size:cover;
}