<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>异趣</title>

    <!--<link rel="stylesheet" type="text/css" th:href="@{/comm/css/bootstrap.css}" />-->
    <!--<script type="text/javascript"   th:src="@{/js/jquery.min.js}"></script>-->

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h2 class="text-center">简单的卡片</h2>
        <div class="card">
            <div class="card-body">

                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Your Email">
                        <div class="input-group-append">
                            <span class="input-group-text">@runoob.com</span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-warning">警告</button>
                    <button type="button" class="btn btn-primary">主要按钮</button>
                </form>

            </div>
        </div>
    </div>
</body>
</html>